* {
    margin: 0;
    padding: 0;
}

body{
background-color: rgba(228, 186, 156, 0.918);
text-align: center;
margin-top: 2%;
}

#container{
height: 90%;
width: 90%;
display: flex;
justify-content: center;
align-items: center;

}

#game{
height: 100%;
width: 34%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-left: 10%;

}

.box{
height: 90px;
width: 90px;
margin: 5px;
border-radius: 15%;
border: none;
background-color: rgb(191, 127, 129);
color: white;
font-size: 50px;
} 

#reset-btn{
    padding: 18px;
    font-size: 25px;
    margin-top: 22px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}

#new-btn {
    padding: 18px;
    font-size: 25px;
    margin-top: 22px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}


.msg-container{
    margin-bottom: 30px ;
}

.msg{
color: Red;
font-size:30px;
}

.hide{
    display: none;
}